@charset "utf-8";
*{
    
    text-align: justify;
}
body{
    background-color: #141414;
    background-image: linear-gradient(to top, #0D1117 80%, #0f7aafd2);
}

header{
    color: rgb(217, 217, 223);
    display: block;
    font-size: 20px;
    position: relative;
}

h1 {
    color: white;
    text-align: center;
    /*
    height: 30px;
    width: 30px;
    border-width: 10px;
    border-style: solid;
    padding-left: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 300px;
    */
}

h3{
    color: rgb(46, 46, 226);
}

p,pre,a,h2{
    color: white;
    
}

div.filme img{
    
    padding-bottom: 15px;
    max-width: 160px;
    max-height: 160px;
    
    
}

nav{
    text-align: center;
}

nav a{
    padding-left: 20px;
    
}

nav > a:hover{
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    transition-duration: 1s;
}

section h2{
    padding: 20px;
}


footer >p{
    text-align: center;
}

